<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletAssignment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>f1</display-name>
    <filter-name>f1</filter-name>
    <filter-class>com.acadgild.MyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>f1</filter-name>
    <url-pattern>/f1</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>s1</display-name>
    <servlet-name>s1</servlet-name>
    <servlet-class>com.acadgild.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s1</servlet-name>
    <url-pattern>/s1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DestroyAServletSession</display-name>
    <servlet-name>DestroyAServletSession</servlet-name>
    <servlet-class>com.acadgild.DestroyAServletSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DestroyAServletSession</servlet-name>
    <url-pattern>/DestroyAServletSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>create</display-name>
    <servlet-name>create</servlet-name>
    <servlet-class>com.acadgild.CreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>create</servlet-name>
    <url-pattern>/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>details</display-name>
    <servlet-name>details</servlet-name>
    <servlet-class>com.acadgild.Details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>details</servlet-name>
    <url-pattern>/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deblink</display-name>
    <servlet-name>Deblink</servlet-name>
    <servlet-class>com.acadgild.Deblink</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deblink</servlet-name>
    <url-pattern>/Deblink</url-pattern>
  </servlet-mapping>
</web-app>